<ul class="movie-list">
{{#each this}}
  <li class="list_item">
    <article class="card">

      <div class="img-movies">
          <picture class="poster">
            <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" class="poster_img">
          </picture>
                              
      </div>
      <div class="caption-movies">
          <h3 class="caption-name">{{title}}</h3>
          <p class="caption-genre-year">{{genre_ids}} | {{release_date }}</p>
      </div>
  </article>
  </li>
{{/each}}
