main {
  margin: 0;
  padding: 20px 15px 0 15px;
}

.movie-list {
  padding: 0;
  margin: 0;
  list-style: none;
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: calc(-1 * 20px);
  //   margin-top: calc(-1 * 20px);
  //   text-align: center;
  //   align-items: center;
}
.card {
  min-width: 280px;
  min-height: 443px;
}

.list_item {
  list-style: none;
  width: 280px;
  height: 443px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  //   flex-basis: calc(100% / 1 - 20px);
}

.poster,
.poster_img {
  width: 280px;
  height: 402px;
  border-radius: 5px;
}

.img-movies {
  margin-bottom: 10px;
}
// .caption-movies {
// }
.caption-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-bottom: 2px;
}

.caption-genre-year {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #ff6b08;
}

.search_svg {
  stroke: red;
}
html {
  scroll-behavior: smooth;
}
.upBtn {
  width: 50px;
  height: 50px;
  background: hsl(24, 100%, 52%);
  text-align: center;
  border-radius: 5px;
  position: fixed;
  z-index: 5;
  bottom: 60px;
  right: 20px;
  margin: 0 auto;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  background: url(../images/icon_up_arrow.png) no-repeat;
  background-size: cover;
}

.showUpBtn {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.genre {
  margin: 0 2px;
  background-color: hsla(24, 100%, 52%, 0.658);
  border-radius: 4px;
  text-align: center;
  height: 20px;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
}

.year {
  color: hsl(24, 100%, 52%);
  margin-left: 5px;
}
.title {
  margin-right: 5px;
  color: #000;
}

.genreBtn {
  cursor: pointer;
  background-color: #ff6b08;
  border-radius: 5px;
  margin: 0 2px;
}
